<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard for {{ date }}</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.user__username }}</td>
                    <td>{{ score.daily_max_points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
