<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Map</title>
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'css/world_map.css' %}">
</head>
<body>
    <div class="map-container">
        <object id="world-map" type="image/svg+xml" data="{% static 'images/world_map.svg' %}" onload="initMap()"></object>
        <div class="region-scores">
            {% for region, score in region_scores.items %}
                <div class="region-score" data-region="{{ region|slugify }}" data-score="{{ score }}"></div>
            {% endfor %}
        </div>
    </div>
    <script>
        function initMap() {
            const regionScores = document.querySelectorAll('.region-score');
            const svgObject = document.getElementById("world-map");
            const svgDoc = svgObject.contentDocument;

            regionScores.forEach(scoreElement => {
                const regionId = scoreElement.getAttribute('data-region');
                const score = parseInt(scoreElement.getAttribute('data-score'), 10);
                const regionElement = svgDoc.getElementById(regionId);
                console.log("score" + score);
                if (regionElement) {
                    if (score > 4800) {
                        regionElement.style.fill = 'green'; // Green
                    } else {
                        regionElement.style.fill = 'rgb(139, 0, 0)'; // Dark Red
                    }

                    // Add hover effect
                    regionElement.addEventListener('mouseover', () => {
                        console.log("mouse over " + regionId);
                        regionElement.setAttribute('stroke', 'yellow');
                        regionElement.setAttribute('stroke-width', '50px');
                    });
                    regionElement.addEventListener('mouseout', () => {
                        regionElement.removeAttribute('stroke');
                        regionElement.removeAttribute('stroke-width');
                    });
                    // Optionally add score text to the SVG regions
                    const textElement = document.createElementNS('http://www.w3.org/2000/svg', 'text');
                    textElement.setAttribute('x', regionElement.getBBox().x + regionElement.getBBox().width / 2);
                    textElement.setAttribute('y', regionElement.getBBox().y + regionElement.getBBox().height / 2);
                    textElement.setAttribute('text-anchor', 'middle');
                    textElement.setAttribute('dy', '.35em');
                    textElement.setAttribute('fill', 'white');
                    textElement.textContent = score;
                    regionElement.parentNode.appendChild(textElement);
                }
            });
        }
    </script>
</body>
</html>
